packages:
    yum:
        awslogs: []
files:
  "/etc/awslogs/config/beanstalklogs.conf":
      mode: "000644"
      owner: root
      group: root
      content: |
        [/var/log/laravel.log]
        log_group_name=/aws/elasticbeanstalk/Lazarus/app/current/storage/logs/laravel.log
        log_stream_name={instance_id}
        file=/var/log/laravel.log*
container_commands:
    01_laravel_migrate:
        command: "php artisan migrate --force"
    02_aws_log_restart:
        command: "sudo service awslogs restart"
