packages:
    yum:
        awslogs: []
files:
  "/etc/awslogs/config/beanstalklogs.conf":
      mode: "000644"
      owner: root
      group: root
      content: |
        [/var/log/httpd/error_log]
        log_group_name=/aws/elasticbeanstalk/Lazarus/apache/error.log
        log_stream_name={instance_id}
        file=/var/log/httpd/error_log*

        [/var/log/httpd/access_log]
        log_group_name=/aws/elasticbeanstalk/Lazarus/apache/access.log
        log_stream_name={instance_id}
        file=/var/log/httpd/access_log*

        [/var/log/eb-activity.log]
        log_group_name=/aws/elasticbeanstalk/Lazarus/deployment/activity.log
        log_stream_name={instance_id}
        file=/var/log/eb-activity.log*

        [/var/log/laravel.log]
        log_group_name=/aws/elasticbeanstalk/Lazarus/app/current/storage/logs/laravel.log
        log_stream_name={instance_id}
        file=/var/log/laravel.log*
container_commands:
    01_laravel_publish:
        command: "php artisan vendor:publish"
    02_laravel_drop_tables:
        command: "php artisan app:drop-tables"
    03_laravel_migrate:
        command: "php artisan migrate:refresh"
    04_laravel_seed_db:
        command: "php artisan db:seed"
    05_aws_log_restart:
        command: sudo service awslogs restart
