files:
  "/etc/awslogs/config/laravel_logs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/app/current/logs/xxx.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "/var/app/current/storage/logs/laravel.log"]]}`
      log_stream_name = {instance_id}
      file = /var/app/current/storage/logs/laravel.log*
