
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.body {
    margin: 0 5px;
}
.input-group[class*="col-"] {
    padding-left: 15px;
}

.no-underline {
    text-decoration: none !important;
}
